<h1>Acerca de Y</h1>
<p>Y es una aplicación que te permite compartir tus pensamientos y conectar con amigos.</p>
<p>Nuestra misión es brindar una plataforma segura y amigable para la expresión libre.</p>